.apple-navigation {
  
  padding: 10px 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.navbar-toggle {
  border: none;
}

.navbar-toggle-icon {
  background-color: #fff;
}

#navbar-nav {
  margin-left: auto;
}

.ms-auto {
  color: black;
}

.apple-nav-link {
  color: #fff;
  font-size: 16px;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.apple-nav-link:hover {
  color: #999;
}
.apple-store-principal {
  display: grid;
  margin-right: 40%;
}
.apple-store-title {
  font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: inline;
    color: white;
}

.apple-store-2title {
  font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: inline;
    color: grey;


}

.second-head {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: inline;
    color: black;
    margin-right: 15%;
}
.second-head2 {
  font-size: 28px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: inline;
    color: grey;

}


.product-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.product-image {
  margin-right: 20px;
}

.product-details {
  flex-grow: 1;
}

.text-over-image {
  font-size: 18px;
  color: #777;
  margin-top: 10px;
}

.cart-container {
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cart-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.empty-cart-message {
  font-size: 18px;
  color: #888;
}

.cart-items {
  margin-top: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-name {
  font-size: 16px;
}

.remove-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
}

.clear-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center; 
  margin-top: 10%; 
  margin-left: 10%;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
